@page
@model JDSY.MyAirportRazor.Pages.Bagages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bagage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bagage.VolID" class="control-label"></label>
                <select asp-for="Bagage.VolID" class ="form-control" asp-items="ViewBag.VolID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.CodeIata" class="control-label"></label>
                <input asp-for="Bagage.CodeIata" class="form-control" />
                <span asp-validation-for="Bagage.CodeIata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.DateCreation" class="control-label"></label>
                <input asp-for="Bagage.DateCreation" class="form-control" />
                <span asp-validation-for="Bagage.DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Classe" class="control-label"></label>
                <input asp-for="Bagage.Classe" class="form-control" />
                <span asp-validation-for="Bagage.Classe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Prioritaire" class="control-label"></label>
                <input  asp-for="Bagage.Prioritaire" class="form-control"  type="checkbox" />
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Sta" class="control-label"></label>
                <input asp-for="Bagage.Sta" class="form-control" />
                <span asp-validation-for="Bagage.Sta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Ssur" class="control-label"></label>
                <input asp-for="Bagage.Ssur" class="form-control" />
                <span asp-validation-for="Bagage.Ssur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Destination" class="control-label"></label>
                <input asp-for="Bagage.Destination" class="form-control" />
                <span asp-validation-for="Bagage.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bagage.Escale" class="control-label"></label>
                <input asp-for="Bagage.Escale" class="form-control" />
                <span asp-validation-for="Bagage.Escale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
